option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 18.x
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_USE_PRODUCTION: true

container_commands:
  01_install_dependencies:
    command: |
      npm ci --legacy-peer-deps
  02_build:
    command: |
      npm run build 